[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
voting = "HjtYhrJ8edmGLmdmX9inEA1EK3oaVMHLHTLjwAqBfJX7"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "./node_modules/.bin/jest --preset ts-jest"
